parameters:
	ignoreErrors:
		-
			message: "#^Class Datana\\\\Formulario\\\\Api\\\\Domain\\\\Value\\\\Dateneingabe has an uninitialized readonly property \\$token\\. Assign it in the constructor\\.$#"
			count: 1
			path: src/Domain/Value/Dateneingabe.php

		-
			message: "#^Property Datana\\\\Formulario\\\\Api\\\\Domain\\\\Value\\\\DateneingabeId\\:\\:\\$value is never read, only written\\.$#"
			count: 1
			path: src/Domain/Value/DateneingabeId.php

		-
			message: "#^Method Datana\\\\Formulario\\\\Api\\\\Domain\\\\Value\\\\DateneingabenCollection\\:\\:__construct\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/Value/DateneingabenCollection.php

		-
			message: "#^Method Datana\\\\Formulario\\\\Api\\\\Domain\\\\Value\\\\DateneingabenCollection\\:\\:fromArray\\(\\) has parameter \\$response with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Domain/Value/DateneingabenCollection.php

		-
			message: "#^Method Datana\\\\Formulario\\\\Api\\\\Fixtures\\\\Response\\\\ReminderResponse\\:\\:create\\(\\) should return array\\{id\\: int\\|null, time\\: int, sender\\: 'string'\\} but returns array\\.$#"
			count: 1
			path: src/Fixtures/Response/ReminderResponse.php

		-
			message: "#^Property Datana\\\\Formulario\\\\Api\\\\FormularioClient\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/FormularioClient.php

		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:dateneingabeIdInt\\(\\)\\.$#"
			count: 1
			path: tests/Unit/Domain/Value/DateneingabeIdTest.php

		-
			message: "#^Method Datana\\\\Formulario\\\\Api\\\\Tests\\\\Unit\\\\Domain\\\\Value\\\\DateneingabeTest\\:\\:fromArray\\(\\) has parameter \\$value with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Unit/Domain/Value/DateneingabeTest.php

		-
			message: "#^Method Datana\\\\Formulario\\\\Api\\\\Tests\\\\Unit\\\\Domain\\\\Value\\\\DateneingabeTest\\:\\:fromArrayProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Unit/Domain/Value/DateneingabeTest.php

		-
			message: "#^Method Datana\\\\Formulario\\\\Api\\\\Tests\\\\Unit\\\\Domain\\\\Value\\\\DateneingabeTest\\:\\:showOpenLink\\(\\) has parameter \\$value with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Unit/Domain/Value/DateneingabeTest.php

		-
			message: "#^Method Datana\\\\Formulario\\\\Api\\\\Tests\\\\Unit\\\\Domain\\\\Value\\\\DateneingabeTest\\:\\:showOpenLinkProvider\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/Unit/Domain/Value/DateneingabeTest.php

		-
			message: "#^Parameter \\#1 \\$value of static method Datana\\\\Mandantencockpit\\\\Contracts\\\\Notification\\\\Value\\\\TargetId\\:\\:fromInt\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: tests/Unit/Domain/Value/DateneingabeTest.php

		-
			message: "#^Parameter \\#2 \\$haystack of static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertStringContainsString\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: tests/Unit/Domain/Value/DateneingabeTest.php

		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:dateneingabeId\\(\\)\\.$#"
			count: 14
			path: tests/Unit/Domain/Value/ReminderTest.php

		-
			message: "#^Parameter \\#1 \\$values of static method Datana\\\\Formulario\\\\Api\\\\Domain\\\\Value\\\\Reminder\\:\\:create\\(\\) expects array\\{id\\: int\\|null, time\\: int, sender\\: string\\}, array\\{id\\: int\\|null, sender\\: 'string'\\} given\\.$#"
			count: 1
			path: tests/Unit/Domain/Value/ReminderTest.php

		-
			message: "#^Parameter \\#1 \\$values of static method Datana\\\\Formulario\\\\Api\\\\Domain\\\\Value\\\\Reminder\\:\\:create\\(\\) expects array\\{id\\: int\\|null, time\\: int, sender\\: string\\}, array\\{id\\: int\\|null, time\\: int\\} given\\.$#"
			count: 1
			path: tests/Unit/Domain/Value/ReminderTest.php

		-
			message: "#^Parameter \\#1 \\$values of static method Datana\\\\Formulario\\\\Api\\\\Domain\\\\Value\\\\Reminder\\:\\:create\\(\\) expects array\\{id\\: int\\|null, time\\: int, sender\\: string\\}, array\\{time\\: int, sender\\: 'string'\\} given\\.$#"
			count: 1
			path: tests/Unit/Domain/Value/ReminderTest.php

